ul {
	padding: 0;
	margin: 0;
}

.wrap {
	max-width: 560px;
	margin: 40px auto;
}

.tab-block {
	font-family: 'Roboto', sans-serif;
	margin-bottom: 60px;
	box-shadow: 6px 6px 30px rgba(0, 0, 0, .2);
	position: relative;
}

.tab-nav {
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.tab-nav li {
	color: #fff;
	background: #384455;
	width: 100%;
	text-align: center;
	padding: 20px 10px;
	cursor: pointer;
	border-left: 1px solid #5c6673;
	transition: background-color .3s;
}

.tab-nav li:hover {
	background-color: #414d5e;
}

.tab-nav li:first-child {
	border-left: none;
}

.tab-nav li.active {
	color: #374252;
	background: #f0f4f5;
}

.tab-body {
	background: #f0f4f5;
	list-style: none;
	padding: 50px 20px;
	text-align: center;
}

.tab-body h3 {
	font-size: 131%;
	margin-bottom: 5px;
	font-weight: bold;
}

.tab-body li {
	display: none;
}

.tab-body li.active {
	display: block;
	animation-duration: 1.5s;
	animation-name: fade-in;
}

.tab-button {
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 0 20px;
	position: absolute;
	bottom: -50px;
	left: 50%;
	transform: translateX(-50%);
}

.tab-button button {
	color: #fff;
	background: #384455;
	border-radius: 2px;
	padding: 0.25em 0.5em;
}

@keyframes fade-in {
	0% {
		display: none;
		opacity: 0;
	}
	1% {
		display: block;
		opacity: 0;
	}
	100% {
		display: block;
		opacity: 1;
	}
}
